<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>KUNPAO's COFFEE MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('include/header_admin.ejs') %>
      <div class="content_data">
        <h2>Alkalmazott adatainak módosítása</h2>
        <form method="POST" id="update_user" class="form">
          <label for="name"><span>Név</span> </label>
          <input type="hidden" name="id" value="<%= user._id %>" />
          <input type="text" name="name" value="<%= user.name %>" />

          <label for="username"> <span>Felhasználónév</span> </label>
          <input type="text" name="username" value="<%= user.username%>" />

          <label for="email"> <span>Email</span> </label>
          <input type="email" name="email" value="<%= user.email%>" />

          <label for="role"> <span>Jogosultság</span> </label>
          <input type="text" name="role" value="<%= user.role%>" />

          <label for="password"> <span>Jelszó</span> </label>
          <input
            type="password"
            placeholder="Adj meg egy jelszót!"
            name="password"
          />

          <label for="password2"> <span>Jelszó megerősítése</span> </label>
          <input
            type="password"
            placeholder="Add meg a jelszavat újra!"
            name="password2"
          />

          <button class="update" type="submit">Mentés</button>
          <!--   <button onclick="window.location.href='admin'">Vissza</button> -->
        </form>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
    <script src="/js/update_user.js"></script>
  </body>
</html>
