<% for(var i = 0; i < users.length; i++) { %>
<tr class="table-default border-0">
    <td><%= users[i].name %></td>
    <td><%= users[i].username %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].role %></td>
    <td> 
        <a href="/update-user?id=<%= users[i]._id%>" class="btn update">
            <span class="btn btn-secondary btn-sm">Szerkesztés</span>
        </a>
        <a class="btn delete" data-id=<%= users[i]._id%> >
            <span class="btn btn-dark btn-sm">Törlés</span>
        </a>
    </td>
</tr>
<% } %>